{% extends 'codechef/base.html' %}

{% block style %}
    {% load static %}
    <style type="text/css" rel="stylesheet">
	</style>
{% endblock %}

{% block body %}
    <div class="col-sm-4 col-xs-6" style="float:left;margin-top:60px;">
        <ul class="list-group text-center">
            <li class="list-group-item list-group-item-success">
                <a href="{% url 'codechef:all_cities' %}"><strong>Top Cities</strong></a>
            </li>
        </ul>
        <ul class="list-group text-center">
            <li class="list-group">
                <span class="badge badge-pill">
                    {% for cty in cities %}
                    <a style="overflow:hidden;" href="#" class="list-group-item list-group-item-action list-group-item-info">
                        <strong>{{ cty }}</strong>
                    </a>
                    {% endfor %}
                </span>
            </li>
        </ul>
    </div>
    <div class="col-sm-4 col-xs-6" style="float:right;margin-top:60px;">
        <ul class="list-group text-center">
            <li class="list-group-item list-group-item-success">
                <a href="{% url 'codechef:all_inst' %}"><strong>Top Institutions</strong></a>
            </li>
        </ul>
        <ul class="list-group text-center">
            <li class="list-group">
                <span class="badge badge-default">
                    {% for insti in instit %}
                    <a style="overflow:hidden;" href="#" class="list-group-item list-group-item-action list-group-item-info">
                        <strong>{{ insti }}</strong>
                    </a>
                    {% endfor %}
                </span>
            </li>
        </ul>
    </div>
    <div class="col-sm-4 col-xs-6" style="float:right;margin-top:60px;">
        <ul class="list-group text-center">
            <li class="list-group-item list-group-item-success">
                <a href="{% url 'codechef:all_states' %}"><strong>Top States</strong></a>
        </ul>
        <ul class="list-group text-center">
            <li class="list-group">
                <span class="badge badge-default">
                    {% for stat in states %}
                    <a style="overflow:hidden;" href="#" class="list-group-item list-group-item-action list-group-item-info">
                        <strong>{{ stat }}</strong>
                    </a>
                    {% endfor %}
                </span>
            </li>
        </ul>
    </div>
{% endblock %}
