<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=New+Rocker' rel='stylesheet' type='text/css'>
    <title>CC-Toolkit</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'codechef/images/logo.png' %}">
    <style rel="stylesheet" type="text/css">
        body {
            background-color: #CFD8DC;
        }

        .navbar-brand {
            font-family: 'New Rocker', cursive;
        }

        .parallax {
            background-image: url("{% static 'codechef/images/para_bg.jpg' %}");
            height: 600px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            overflow: auto;
        }

        .page-footer.font-small {
            background: green;
        }
    </style>
    {% block style %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'codechef:index' %}">CC-Tookit</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navToTop">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navToTop">
                <div class="container">
                    <form class="form-inline" action="/search/">
                        <select class="form-control mr-sm-2" name="query">
                            <option>Username</option>
                            <option>City</option>
                            <option>State</option>
                            <option>Institution</option>
                        </select>
                        <input class="form-control mr-sm-2" type="text" name="srch" placeholder="Search">
                        <button class="btn btn-success" type="submit">Search</button>
                    </form>
                </div>
                <div class="container" dir="rtl">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.codechef.com/users/mohit_negi">About me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/m0hitNegi/singularity-data/issues">Report Issues</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="alert alert-dark text-center" style="margin-bottom: 0">
      This website is under development stage. Yet, it is still usable.
    </div>
    <div class="parallax">
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </div>
    <footer class="page-footer font-small">
        <div class="container">
            <div class="row">
                <div class="col-md-12 py-5" align="center">
                    <a class="tw-ic text-white" href="https://twitter.com/m0hitNegi">
                        <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                    <a class="tw-ic text-white" href="https://github.com/m0hitNegi">
                        <i class="fa fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                    <a class="tw-ic text-white" href="https://in.pinterest.com/mohitnegi165/">
                        <i class="fa fa-pinterest fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                    <a class="tw-ic text-white" href="https://www.linkedin.com/in/mohit-negi-b71a9215b/">
                        <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                    <a class="tw-ic text-white" href="https://plus.google.com/116139644660390938853">
                        <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                    <a class="tw-ic text-white" href="https://www.quora.com/profile/Mohit-Negi-95">
                        <i class="fa fa-quora fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                    <a class="tw-ic text-white" href="https://stackoverflow.com/users/8972012/mohit-negi">
                        <i class="fa fa-stack-overflow fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-copyright py-3 text-center">
            © 2018 Copyright:
            <a href="{% url 'codechef:index' %}" style="color: white;">CC-Toolkit.com</a>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
</body>
</html>