{% extends "codechef/base.html" %}

{% block style %}
    <style rel="stylesheet">
        .pagination {
            clear: both;
            position: relative;
            font-size: 11px;
            text-align: center;
        }

        .pagination li, .page-item a {
            display: inline-block;
            margin: 2px 2px 2px 0;
            padding: 6px 9px 5px 9px;
            text-decoration: none;
            color: #ddd;
            background: #020b1a;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container" style="margin-top:60px;">
        <ul class="list-group text-center">
            <li class="list-group-item list-group-item-success">
                <strong>All {{requested_for}}</strong>
            </li>
        </ul>
        <ul class="list-group text-center">
            <li class="list-group">
                <span class="badge badge-pill">
                    {% for info in detail %}
                        <a style="overflow:hidden;" href="#" class="list-group-item list-group-item-action list-group-item-info">
                            <strong>{{ info }}</strong>
                        </a>
                    {% endfor %}
                </span>
            </li>
        </ul>
        <div class="navigation">
            <ul class="pagination">
                {% if detail.has_previous %}
                    <li class="page-item">
                        <a href="?page=1" class="page-link">&laquo; first</a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ cit.previous_page_number }}" class="page-link">previous</a>
                    </li>
                {% endif %}

                {% for now_page in page_range %}
                    {% if detail.number == now_page %}
                        <li class="page-item">
                            <a href="?page={{ now_page }}" class="page-link">{{ now_page }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a href="?page={{ now_page }}" class="page-link">{{ now_page }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if detail.has_next %}
                    <li class="page-item">
                        <a href="?page={{ detail.next_page_number }}" class="page-link">next</a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ detail.paginator.num_pages }}" class="page-link">last &raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}