{% extends 'codechef/base.html' %}
{% block style %}
    <style type="text/css" rel="stylesheet">
        #disabled-link {
            color: #115468;
            overflow: hidden;
            pointer-events: none;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div style="margin-top:50px;margin-left:12%;width:74%;" align="center">
            <ul class="list-group text-center">
                <li class="list-group-item list-group-item-success"><strong>User Information</strong></li>
            </ul>
        </div>
        <div class="row" style="margin:0 12% 0 10%;">
            <div class="col-sm-6 col-xs-6" style="margin: 0 auto;">
                {% if messages %}
            		<div class="jumbotron" style="margin-top: 2%;color: #155748;background-color: #bee5eb;">
            			<h1>No results found!</h1>
                        {% for error in messages %}
                            {{ error }}
                        {% endfor %}
                        <span>Click <a href="https://www.codechef.com/signup" target="_blank">here</a> to register.</span>
                	</div>
				{% else %}
                <ul class="list-group text-center">
                    <li class="list-group">
                        <span class="badge badge-pill">
                            <strong class="list-group-item list-group-item-info">Username:</strong>
                            <strong class="list-group-item list-group-item-info">Country:</strong>
                            <strong class="list-group-item list-group-item-info">State:</strong>
                            <strong class="list-group-item list-group-item-info">City:</strong>
                            <strong class="list-group-item list-group-item-info">Institute:</strong>
                            <strong class="list-group-item list-group-item-info">User Type:</strong>
                            <strong class="list-group-item list-group-item-info">Global Rank:</strong>
                            <strong class="list-group-item list-group-item-info">Country Rank:</strong>
                            <strong class="list-group-item list-group-item-info">Ratings:</strong>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-xs-6" style="margin: 0 auto;">
                <ul class="list-group text-center">
                    {% if sr %}
                        <li class="list-group">
                            <span class="badge badge-pill">
                            <a id="disabled-link" href="#" class="list-group-item list-group-item-info">
                                    <strong>{{ sr.username }}</strong>
                                </a>
                            <a id="disabled-link" href="#" class="list-group-item list-group-item-info">
                                    <strong>{{ sr.country }}</strong>
                                </a>
                            <a id="disabled-link" href="#" class="list-group-item list-group-item-info">
                                    <strong>{{ sr.state }}</strong>
                                </a>
                            <a id="disabled-link" href="#" class="list-group-item list-group-item-info">
                                    <strong>{{ sr.city }}</strong>
                                </a>
                            <a id="disabled-link" href="#" class="list-group-item list-group-item-info">
                                    <strong>{{ sr.inst }}</strong>
                                </a>
                            <a id="disabled-link" href="#" class="list-group-item list-group-item-info">
                                    <strong>{{ sr.usr_type }}</strong>
                                </a>
                            <a id="disabled-link" href="#" class="list-group-item list-group-item-info">
                                    <strong>{{ sr.global_rank }}</strong>
                                </a>
                            <a id="disabled-link" href="#" class="list-group-item list-group-item-info">
                                    <strong>{{ sr.country_rank }}</strong>
                                </a>
                            <a id="disabled-link" href="#" class="list-group-item list-group-item-info">
                                    <strong>{{ sr.ratings }}</strong>
                                </a>
                            </span>
                        </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}